

// $theme-colors: (
//   "primary": #C5165B,

// );
// // Bootstrap and its default variables

// @import "../node_modules/bootstrap/scss/bootstrap";
//-------------------------------------------- Variables, mixin, include -------------------------------------------- 
$widthG: 100%;
$height: 30px;
$backgrounColorI: #ddd;
$backgrounColorE: #4A4ADA;
$borderColorE: #4A4ADA;
$colorE: #ddd;
$colorRosa:#C5165B;
$colorAmarillo:#ffc107;

@mixin estilosProgressBar {
  font-size: 100%;
  text-align: center;
}
@mixin bootsPrestamo {
  border-radius: 5rem;
  font-size: small;
}
@mixin formulario {
  display: block;
  position: relative;
  text-align: center;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

//-------------------------------------------- Inicio de Progress Bar --------------------------------------------   
.container{
  max-width: 1440px;
}

$widthG: 100%;
$height: 30px;
$backgrounColorI: #ddd;
$backgrounColorE: #4A4ADA;
$borderColorE: #4A4ADA;
$colorE: #ddd;
$borderColorFont: #4A4ADA;
$primary: $borderColorFont !default;


// .containerAll{
//   // margin-right: 8%;
//   // margin-bottom: 50%;
// }
#color{
  border:1px solid #202225;
}
.btnColor{
  border:1px solid #C5165B;
  background-color: #C5165B;
}
.form-align{
display: flex;
justify-content: center;
}
.colorLabel{
text-align:start;
font-weight: bold;
color:#C5165B;
margin: 5px auto;
}
.container{
  width: 250%;
  margin-right: 7%;
}
.progressBar{
  display: flex;
  flex-direction: row;
  padding-left: 0px;
  counter-reset:step;
  color: white;
  padding-left:0px;
  width:90%;
}
.progressBar li{
  font-size: 40%;
  list-style-type:none;
  float: left;
  width: 25%;
  padding: 6%;  
  position:relative;
  text-align: center;
  font-size: 15px;
  color:$backgrounColorE;
}
//estilos del circulo
          .progressBar li:before{
            font-size: 22px;
            content: counter(step);
            counter-increment: step;
            width: $height;
            line-height:$height;
            border:2px solid $borderColorE;
            display: block;
            text-align: center;
            margin: 0 auto 5px auto;
            border-radius: 50%;
            background-color: white;
          }
//estilos para la linea 
            .progressBar li:after{
              content:'';
              position: absolute;
              width: $widthG;
              height: 1px;
              background-color: $borderColorE;
              border: 1px solid $borderColorE;
              top: 40px;
              left: -50%;
              z-index: -1;
              text-align: center;
              font: bold;
            }

              .progressBar li:first-child:after{
                content:none;
              }
//color del texto de cada paso
                .progressBar li.active{
                  color: white;
                  @include estilosProgressBar();
                }
// [no se vean en verde todos los circulos]
                  .progressBar li.active:before{
                    @include estilosProgressBar();
                    font: bold;
                    background-color:$backgrounColorE;
                  }
//-------------------------------------------- Fin de Progress Bar -------------------------------------------- 
//union: color del texto + estilos de la linea
/* .progressBar li.active + li:after{
  background-color: $backgrounColorE;
} */
h1 .formulario{
  @include formulario();
  margin-top: 20%;
}
.formulario{
  @include formulario();
  margin-top: 10%;
}
.referenc{
  text-align:center;
  margin-top: 2rem;
  border-bottom: 1px solid rgba(43, 40, 40, 0.152);
}
p{
  font-family: Roboto;
  width: 100%;
  text-align: center;
  font-size: 18px;
  letter-spacing: -0.3px;
  font-weight: 500;
  line-height: 19px;
  padding:10px 25px;
}

p.hola{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  text-align: center;
  letter-spacing: -0.3px;
  margin: 0px auto;
  width: 90%;
  height: 50%;
  padding-bottom: black;
  /* border-bottom: black; */

 /*  align-content: center;
  font-family: Roboto;
  text-align: center;
  font-size: 85%; */
}
p.hola2{
  margin-top: 5%;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  letter-spacing: -0.3px;
  margin-left: 8%;
  width: 85%;
  height: 50%;
  padding-bottom: black;
  /* border-bottom: black; */

 /*  align-content: center;
  font-family: Roboto;
  text-align: center;
  font-size: 85%; */
}
.colorOption{
  border-color: #C5165B;
}
.referenc2{
  margin-top:1rem;
  display: block;
  padding-bottom: black;
}
.custom-input{
  border: 1px solid #0a0a0a;
}
.formDiv{
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24), 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.12);
  /* margin-top: 40%; */
  margin-left: auto;
  margin-right: auto;
  background: #fff;
  border-radius: 10px;
  width: 85%;
  /* height: 30%; */
  padding: 20px;
}
// .container{
//   max-width: 1440px;
// }

.btn-navbar{
  /* margin-right:2em; */
  margin-left:2em;
}

.navbar-nav .nav-link {
  font-size: 20px;
}

.nav-link{
  padding: 0rem;
}
.img{
  width: 100px;
  height: 50px;
}
.img2{
  margin-top: 5%;
  width: 100px;
  height: 50px;
}
.img-fluid{
  width: 100%;
  height: 200px;
}

.padded{
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
}

.container .col {
  padding-left: 0px;
  padding-right: 0px;
}

// #containerRoot {
//   height: 100vh;
// }

.modal.right .modal-dialog {
	width: 320px;
	height: 100%;
	transform: translate3d(0%, 0, 0);
}

.modal.right .modal-content {
	overflow-y: auto;
}

.modal.right.fade .modal-dialog {
	right: -320px;
	transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.right.fade.show .modal-dialog {
	right: 0;
}

/* ----- MODAL STYLE ----- */
.menuModal .modal-dialog {
  position: relative;
  width: auto;
  margin: 1.8rem;
  pointer-events: none;
}

.menuModal.modal-content {
	border-radius: 0;
  border: 0 !important;
  background-color:$colorRosa;
}

.menuModal.modal-header {
	border-bottom-color: #faf2f2ab;
	background-color:$colorRosa;
}

.menuModal.modal{
  height: 0 !important;
  top: -30px !important;
}
.menuModal.modal-body{
  background-color:$colorRosa;
}
.menuModal.modal-body a{
  color:white;
}
.menuModal.modal-header {
  border-bottom-color: #fafafa;
  background-color:$colorRosa;
  border-bottom: 0 !important;
  padding: 0.5rem 1rem;
}

.menuModal a {
  color: #fff;
  text-decoration: none;
  background-color: transparent;
}
.menuModal a:hover {
  color: #808080 !important;
  text-decoration: none;
}
.navegation{
  background-color: white;
}
.navegation a{
  height: 60px;
}

@media only screen and (max-width: 994px) {
  .navegation  a{
    display: none;
  }

}

@media only screen and (min-width: 994px) {
  .menuModal .modal-dialog{
    display: none;
  }
  .menuModal .modal-backdrop{
    display: none;
  }
}

.row.listTasasHeader {
  background-color:$colorRosa;
  color: #ffff;
  padding: 1rem;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
}

.row.listTasasEntidad {
  background-color: #ffffff;
  padding: 0rem 2rem;
  font-weight: 400;
  text-align: center;
}

.btnListTasas  button{
  margin-left: 1em;
  margin-right: 1em;
  border: 1px solid $colorRosa;
  background-color: $colorRosa;
  color:$colorE
}
.col-12.listBank {
  padding: 1rem 1rem;
  font-weight: bolder;
}
.col-12.listBankHorario {
  padding: 1rem;
}

.btn.btn-xm.btn-prestamo-a {
  background-color: #ffffff;
  border-color: $colorRosa;
  color: #0a0a0a;
  @include bootsPrestamo();
}
/* .btn.btn-xm.btn-prestamo-b {
  background-color:$colorRosa;
  border-color: #ac0e0ecf;
  color: #ffffff;
  @include bootsPrestamo();
} */
//-------------------------------------------- Inicio Botones Home -------------------------------------------- 
@mixin colores {
  border-radius: 14px;
  align-content: center;
  border-color: #C5165B;
  width: 200px;
  height: 30px;
}
@mixin otrosColores {
  color: white;
  background-color: #C5165B;
}
.conocerMas{
  margin-top: 5px;
  background-color: white;
  color: #C5165B;
  @include colores();
}
.conocerMasUnirme{
  @include colores();
  @include otrosColores();
}
.acceder{
  font-size: small;
  margin-left: 80px;
  border-radius: 14px;
  align-content: center;
  border-color: #C5165B;
  @include otrosColores();
  width: 80px;
  height: 25px;
}

.btn.btn-xm.btn-prestamo-b1 {
  margin-left: 25%;
  background-color:$colorRosa;
  border-color: #ac0e0ecf;
  color: #ffffff;
  @include bootsPrestamo();
}
.btn.btn-xm.btn-prestamo-b12 {
  width: 50%;
  background-color:$colorRosa;
  border-color: #ac0e0ecf;
  color: #ffffff;
  @include bootsPrestamo();
}
//-------------------------------------------- Fin Botones Home -------------------------------------------- 
.btn.btn-xm.btn-prestamo-c {
  font-size: 1rem;
  font-weight: bolder;
  background-color:$colorAmarillo;
  border-color:$colorAmarillo;
  color: #ffffff;
  border-radius: 90px 90px;
}
#listTasas hr {
  margin: 0.2rem;
  padding: 0.5rem;
}
// .containerListBank {
//   padding: 1rem;
// }
//-------------------------------------------- Inicio Botones Home -------------------------------------------- 
.goo{
  width: 10%;
  height: 10%;
}
.inputInicio{
  margin-top: 11px;
  width: 55%;
  height: 16%;
}
.contraseñaEmail{
  margin-top: 10px;
  color: #C5165B;
}
.contraseñaOlvidada{
  margin-top: 15px;
  color:blue;
  margin-bottom: 10px;
}
//-------------------------------------------- Fin Botones Home -------------------------------------------- 
/* .formDos{
  grid-template-columns: 1fr;
  text-align: center; */
 /*  padding-top: 5px;
  padding-bottom: 8px; */

/* .formDos1{
  text-align: center;
} */
.daniForm{
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.btn-log-out{
  height: 20%;
  width: 100%;
}
// @media only screen and (max-width: 600px) {...}

// /* Small devices (portrait tablets and large phones, 600px and up) */
// @media only screen and (min-width: 600px) {...}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .progressBar li:after{
    top: 60px;
  }
}

// /* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .progressBar li:after{
    top: 80px;
  };
  p{
    font-size: 25px;
  }
}

// /* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .progressBar li:after{
    top: 80px;
  }
}