
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container{
  max-width: 1440px;
}

$widthG: 100%;
$height: 30px;
$backgrounColorI: #ddd;
$backgrounColorE: #4A4ADA;
$borderColorE: #4A4ADA;
$colorE: #ddd;
$borderColorFont: #4A4ADA;
$primary: $borderColorFont !default;


// .containerAll{
//   // margin-right: 8%;
//   // margin-bottom: 50%;
// }
#color{
  border:1px solid #202225;
}
#btnColor{
  background-color:1px solid #C5165B;
}
#colorLabel{
text-align:start;
font-weight: bold;
color:#C5165B;
}
.container{
  width: 250%;
  margin-right: 7%;
}
.progressBar{
  display: flex;
  flex-direction: row;
  padding-left: 0px;
  counter-reset:step;
  font-size: 80%;
  color: white;
  padding-left:0px;
}
.progressBar li{
  font-size: 40%;
  list-style-type:none;
  float: left;
  width: 25%;
  padding: 10%;  
  position:relative;
  text-align: center;
  font-size: 11px;
  color:$backgrounColorE
}
//estilos del circulo
.progressBar li:before{
  padding: 8%; 
  font-size: 140%;
  content: counter(step);
  counter-increment: step;
  width: $height;
  line-height:$height;
  border:1px solid $backgrounColorI;
  display: block;
  text-align: center;
  margin: 0 auto 5px auto;
  border-radius: 50%;
  background-color: white;
  text-align: center;
}
//estilos para la linea 
.progressBar li:after{
  content:'';
  position: absolute;
  width: $widthG;
  height: 1px;
  background-color: $backgrounColorI;
  top: 38px;
  left: -50%;
  z-index: -1;
  text-align: center;
  font: bold;
}
.progressBar li:first-child:after{
  content:none;
  font: bold;
}
//color del texto dataClient
.progressBar li.active{
   color: white;
  font-size: 100%;
  text-align: center;
  font: bold;
}
// no se vean en verde todos los circulos
.progressBar li.active:before{
  /* border-color:$colorE; */
  font-size: 100%;
  text-align: center;
  font: bold;
  background-color:$backgrounColorE;
}
//union: color del texto + estilos de la linea
/* .progressBar li.active + li:after{
  background-color: $backgrounColorE;
} */
h1 .formulario{
  display: block;
  position: relative;
  text-align: center;
  margin-top: 20%;
}
.formulario{
  display: block;
  position: relative;
  text-align: center;
  margin-top: 10%;
}
.referenc{
  align-content: center;
  margin-top: 10%;
  border-bottom: 1px solid rgba(43, 40, 40, 0.152);
}
p{
  font-family: Roboto;
  width: 100%;
  text-align: center;
  font-size: 140%;
  margin-top: 20%;
}
p.hola{
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  letter-spacing: -0.3px;
  margin-left: 8%;
  width: 85%;
  height: 50%;
  padding-bottom: black;
  /* border-bottom: black; */

 /*  align-content: center;
  font-family: Roboto;
  text-align: center;
  font-size: 85%; */
}
.referenc2{
  margin-top:1rem;
  display: block;
  padding-bottom: black;
} 
.formDiv{
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24), 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.12);
  /* margin-top: 40%; */
  margin-left: auto;
  margin-right: auto;
  background: #fff;
  border-radius: 10px;
  width: 85%;
  /* height: 30%; */
  padding: 20px;
}
// .container{
//   max-width: 1440px;
// }

.btn-navbar{
  /* margin-right:2em; */
  margin-left:2em;
}

.navbar-nav .nav-link {
  font-size: 20px;
}

.nav-link{
  padding: 0rem;
}
.img{
  width: 100px;
  height: 50px;
}
.img-fluid{
  width: 100%;
  height: 200px;
}

.padded{
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 90px;
}

.container .col {
  padding-left: 0px;
  padding-right: 0px;
}

// #containerRoot {
//   height: 100vh;
// }

.modal.right .modal-dialog {
	width: 320px;
	height: 100%;
	transform: translate3d(0%, 0, 0);
}

.modal.right .modal-content {
	overflow-y: auto;
}

.modal.right.fade .modal-dialog {
	right: -320px;
	transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.right.fade.show .modal-dialog {
	right: 0;
}

/* ----- MODAL STYLE ----- */
.menuModal .modal-dialog {
  position: relative;
  width: auto;
  margin: 1.8rem;
  pointer-events: none;
}

.menuModal.modal-content {
	border-radius: 0;
  border: 0 !important;
  background-color: #C5165B;
}

.menuModal.modal-header {
	border-bottom-color: #faf2f2ab;
	background-color: #C5165B;
}

.menuModal.modal{
  height: 0 !important;
  top: -30px !important;
}
.menuModal.modal-body{
  background-color: #C5165B;
}
.menuModal.modal-body a{
  color:white;
}
.menuModal.modal-header {
  border-bottom-color: #fafafa;
  background-color: #C5165B;
  border-bottom: 0 !important;
  padding: 0.5rem 1rem;
}

.menuModal a {
  color: #fff;
  text-decoration: none;
  background-color: transparent;
}
.menuModal a:hover {
  color: #808080 !important;
  text-decoration: none;
}
.navegation{
  background-color: white;
}
.navegation a{
  height: 60px;
}

@media only screen and (max-width: 994px) {
  .navegation  a{
    display: none;
  }

}

@media only screen and (min-width: 994px) {
  .menuModal .modal-dialog{
    display: none;
  }
  .menuModal .modal-backdrop{
    display: none;
  }
}

.row.listTasasHeader {
  background-color: #C5165B;
  color: #ffff;
  padding: 1rem;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
}

.row.listTasasEntidad {
  background-color: #ffffff;
  padding: 2rem;
  font-weight: 400;
  text-align: center;
}

.btnListTasas  button{
  margin-left: 1em;
  margin-right: 1em;
}
.col-12.listBank {
  padding: 1rem 1rem;
}
.col-12.listBankHorario {
  padding: 1rem;
}
.btn.btn-xm.btn-prestamo-a {
  background-color: #ffffff;
  border-color: #C5165B;
  color: #0a0a0a;
  border-radius: 5rem;
  margin: 0.5rem;
  font-size: small;
}
.btn.btn-xm.btn-prestamo-b {
  background-color: #C5165B;
  border-color: #ac0e0ecf;
  color: #ffffff;
  border-radius: 5rem;
  margin: 0.5rem;
  font-size: small;
}
.btn.btn-xm.btn-prestamo-c {
  font-size: 1rem;
  font-weight: bolder;
  background-color: #ffc107;
  border-color: #ffc107;
  color: #ffffff;
  border-radius: 90px 90px;
}
#listTasas hr {
  margin: 0.2rem;
  padding: 0.5rem;
}
.containerListBank {
  padding: 1rem;
}

